openapi: 3.0.1
info:
  description: Interact with Hivelocity
  title: Hivelocity API
  version: "2.0"
servers:
- url: https://core.hivelocity.net/api/v2
security:
- apiKey: []
tags:
- description: Endpoints to manage Account
  name: Account
- description: Request Bandwidth Data.
  name: Bandwidth
- description: Endpoints to handle bare metal devices.
  name: Bare Metal Devices
- description: Endpoints to manage Billing Info
  name: BillingInfo
- description: Cancellation information
  name: Cancellations
- description: Endpoints to manager Contacts
  name: Contact
- description: Endpoints to manage Credit
  name: Credit
- description: Access to your Bare-Metal or Virtual Devices
  name: Device
- description: Manage your DNS Domains
  name: Domains
- description: Endpoints to manage CoreOS ignition files.
  name: Ignition
- description: Products Inventory Data
  name: Inventory
- description: Invoice information and PDF download
  name: Invoice
- description: Endpoints to manage IP Assignments
  name: IPAssignment
- description: Endpoints to perform network related tasks
  name: Network
- description: Get Order and its details
  name: Order
- description: Endpoints to manage Order Groups
  name: Order Groups
- description: Endpoints to manage Permissions
  name: Permission
- description: Endpoints to manage Products
  name: Product
- description: Endpoints to manage Profiles
  name: Profile
- description: Endpoints to handle your servers provisioning
  name: Deployment
- description: Service information
  name: Service
- description: Endpoints to manage SSH key.
  name: SshKey
- description: Ticket information
  name: Ticket
- description: Endpoints to manage Public API Token
  name: Token
- description: Endpoints to manage VLANs
  name: VLAN
- description: Access and modify your Hivelocity webhooks.
  name: Webhook
paths:
  /account/controlled-client:
    get:
      operationId: get_account_create
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Client'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all controlled clients for enterprise owner
      tags:
      - Account
    post:
      operationId: post_account_create
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnterpriseControlledClient'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create controlled client for enterprise owner
      tags:
      - Account
      x-codegen-request-body-name: payload
    put:
      operationId: put_account_create
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateEnterpriseControlledClient'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Deactivate client
      tags:
      - Account
      x-codegen-request-body-name: payload
  /bandwidth/device/{deviceId}:
    post:
      operationId: post_device_id_bandwidth_resource
      parameters:
      - description: ID of Device to View
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        in: query
        name: period
        required: true
        schema:
          default: day
          enum:
          - day
          - week
          - month
          - custom
          type: string
      - description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        in: query
        name: interface
        required: true
        schema:
          default: eth0
          enum:
          - eth0
          - eth1
          - public
          - private
          - all
          type: string
      - description: "If you are a reseller, this will include historical interface\
          \ data for device regardless of the current device owner."
        in: query
        name: historical
        schema:
          default: false
          type: boolean
      - description: "Interval of data in seconds. Historical data is condensed, if\
          \ provided value is smaller than existing steps for the date range the endpoint\
          \ will return data with the smallest available step."
        in: query
        name: step
        required: true
        schema:
          default: 300
          type: integer
      - description: Start time of custom time period. (Unix Epoch Time)
        in: query
        name: start
        schema:
          default: 0
          type: integer
      - description: End time of custom time period (Unix Epoch Time)
        in: query
        name: end
        schema:
          default: 1672750303
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Bandwidth'
                type: array
          description: Device Bandwidth Graph retrieved.
        "400":
          content: {}
          description: Unable to retrieve Bandwidth Graph for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get data by device
      tags:
      - Bandwidth
  /bandwidth/device/{deviceId}/image:
    post:
      operationId: post_device_id_bandwidth_image_resource
      parameters:
      - description: ID of Device to View
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        in: query
        name: period
        required: true
        schema:
          default: day
          enum:
          - day
          - week
          - month
          - custom
          type: string
      - description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        in: query
        name: interface
        required: true
        schema:
          default: eth0
          enum:
          - eth0
          - eth1
          - public
          - private
          - all
          type: string
      - description: Start Time of Custom Time Period. (Unix Epoch Time)
        in: query
        name: start
        schema:
          default: 0
          type: integer
      - description: End Time of Custom Time Period (Unix Epoch Time)
        in: query
        name: end
        schema:
          default: 1672750303
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandwidthImage'
                type: array
          description: Device Bandwidth Graph retrieved.
        "400":
          content: {}
          description: Unable to retrieve Bandwidth Graph for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get PNG by device
      tags:
      - Bandwidth
  /bandwidth/service/{serviceId}:
    post:
      operationId: post_service_id_bandwidth_resource
      parameters:
      - description: ID of Service to View
        in: path
        name: serviceId
        required: true
        schema:
          type: integer
      - description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        in: query
        name: period
        required: true
        schema:
          default: day
          enum:
          - day
          - week
          - month
          - custom
          type: string
      - description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        in: query
        name: interface
        required: true
        schema:
          default: eth0
          enum:
          - eth0
          - eth1
          - public
          - private
          - all
          type: string
      - description: "Interval of data in seconds. Historical data is condensed, if\
          \ provided value is smaller than existing steps for the date range the endpoint\
          \ will return data with the smallest available step."
        in: query
        name: step
        required: true
        schema:
          default: 300
          type: integer
      - description: Start Time of Custom Time Period. (Unix Epoch Time)
        in: query
        name: start
        schema:
          default: 0
          type: integer
      - description: End Time of Custom Time Period (Unix Epoch Time)
        in: query
        name: end
        schema:
          default: 1672750303
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Bandwidth'
                type: array
          description: Service Bandwidth Graph retrieved.
        "400":
          content: {}
          description: Unable to retrieve Bandwidth Graph for this Service.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get data by service
      tags:
      - Bandwidth
  /bandwidth/service/{serviceId}/image:
    post:
      operationId: post_service_id_bandwidth_image_resource
      parameters:
      - description: ID of Service to View
        in: path
        name: serviceId
        required: true
        schema:
          type: integer
      - description: "Return data in the given period. Day, week, month will return\
          \ the previous day, week, month from now."
        in: query
        name: period
        required: true
        schema:
          default: day
          enum:
          - day
          - week
          - month
          - custom
          type: string
      - description: "Network interface to get bandwidth usage from. eth0 and eth1\
          \ are your first and second nic respectively. If unsure use the public,\
          \ private, and all values. Overages are billed on public traffic."
        in: query
        name: interface
        required: true
        schema:
          default: eth0
          enum:
          - eth0
          - eth1
          - public
          - private
          - all
          type: string
      - description: Start Time of Custom Time Period. (Unix Epoch Time)
        in: query
        name: start
        schema:
          default: 0
          type: integer
      - description: End Time of Custom Time Period (Unix Epoch Time)
        in: query
        name: end
        schema:
          default: 1672750303
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BandwidthImage'
                type: array
          description: Service Bandwidth Graph retrieved.
        "400":
          content: {}
          description: Unable to retrieve Bandwidth Graph for this Service.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get PNG by service
      tags:
      - Bandwidth
  /bare-metal-devices/:
    get:
      operationId: get_bare_metal_device_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BareMetalDevice'
                type: array
          description: Devices found successfuly
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all devices
      tags:
      - Bare Metal Devices
    post:
      operationId: post_bare_metal_device_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BareMetalDeviceCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BareMetalDevice'
          description: Success
        "201":
          content: {}
          description: Device provisioning started
        "400":
          content: {}
          description: Invalid device parameters.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Provision an instant device
      tags:
      - Bare Metal Devices
      x-codegen-request-body-name: payload
  /bare-metal-devices/batch:
    post:
      operationId: post_bare_metal_device_batch_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BareMetalDeviceBatchCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BareMetalDeviceBatch'
          description: Success
        "201":
          content: {}
          description: Device provisioning started
        "400":
          content: {}
          description: Invalid device parameters.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Batch provision instant devices
      tags:
      - Bare Metal Devices
      x-codegen-request-body-name: payload
  /bare-metal-devices/{deviceId}:
    delete:
      operationId: delete_bare_metal_device_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: query
        name: deploymentId
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      responses:
        "201":
          content: {}
          description: Cancellation Started.
        "204":
          content: {}
          description: Device Deleted
        "400":
          content: {}
          description: Device Cancellation Failed.
        "401":
          content: {}
          description: Not Allowed
        "404":
          content: {}
          description: Device Not Found
        "409":
          content: {}
          description: Device Already Being Cancelled.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Cancel/delete device
      tags:
      - Bare Metal Devices
    get:
      operationId: get_bare_metal_device_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: query
        name: deploymentId
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BareMetalDevice'
          description: Deployment Found
        "401":
          content: {}
          description: Access to Deployment not Allowed
        "404":
          content: {}
          description: Deployment Not Found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get device
      tags:
      - Bare Metal Devices
    put:
      operationId: put_bare_metal_device_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: query
        name: deploymentId
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: "If true, bypass the powered off check."
        in: query
        name: skipPowerCheck
        schema:
          type: boolean
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BareMetalDeviceUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BareMetalDevice'
          description: Device updated.
        "400":
          content: {}
          description: Invalid device parameters.
        "404":
          content: {}
          description: Device Not Found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update/reload instant device
      tags:
      - Bare Metal Devices
      x-codegen-request-body-name: payload
  /billing-info/:
    get:
      operationId: get_billing_info_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BillingInfo'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return a list with all Billing Info
      tags:
      - BillingInfo
    post:
      operationId: post_billing_info_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingInfoVerification'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInfo'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create verification for credit card with all Billing Info
      tags:
      - BillingInfo
      x-codegen-request-body-name: payload
    put:
      operationId: put_billing_info_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingInfoVerification'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credit'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Verify credit card with all Billing Info
      tags:
      - BillingInfo
      x-codegen-request-body-name: payload
  /cancellation/cancellation:
    get:
      operationId: get_cancellation_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cancellation'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all cancel requests
      tags:
      - Cancellations
    post:
      operationId: post_cancellation_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
          description: Success
        "500":
          content: {}
          description: Service/Device already being cancelled
        "404":
          content: {}
          description: Device not found
        "401":
          content: {}
          description: Access to this resource is not permitted.
        "400":
          content: {}
          description: Service/Device already being cancelled
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create cancel request
      tags:
      - Cancellations
      x-codegen-request-body-name: payload
  /cancellation/cancellation/{cancellationId}:
    get:
      operationId: get_cancellation_id_client_resource
      parameters:
      - in: path
        name: cancellationId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get cancel request
      tags:
      - Cancellations
  /cancellation/device/{deviceId}:
    get:
      operationId: get_cancellation_device_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
          description: Success
        "404":
          content: {}
          description: Device not found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get cancel request by device
      tags:
      - Cancellations
  /cancellation/service/{serviceId}:
    get:
      operationId: get_cancellation_service_resource
      parameters:
      - in: path
        name: serviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
          description: Success
        "404":
          content: {}
          description: Service not found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get cancel request by service
      tags:
      - Cancellations
  /contact/:
    get:
      operationId: get_contact_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Contact-dump'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return a list with all Contacts
      tags:
      - Contact
    post:
      operationId: post_contact_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact-dump'
          description: Contact successfully created
        "400":
          content: {}
          description: Unable to create Contact
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create a new Contact
      tags:
      - Contact
      x-codegen-request-body-name: payload
  /contact/password:
    post:
      operationId: post_password_reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordRequest'
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: "Recieve a request to reset password, and send a link by email with\
        \ token"
      tags:
      - Contact
      x-codegen-request-body-name: payload
    put:
      operationId: put_password_reset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResponse'
        required: true
      responses:
        "200":
          content: {}
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: "Recieve a token and password, verify the user and reset your password"
      tags:
      - Contact
      x-codegen-request-body-name: payload
  /contact/{contactId}:
    delete:
      operationId: delete_contact_id_resource
      parameters:
      - description: ID of Contact to View / Update
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      responses:
        "404":
          content: {}
          description: Contact not found.
        "204":
          content: {}
          description: Contact successfully deleted.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Delete a Contact
      tags:
      - Contact
    get:
      operationId: get_contact_id_resource
      parameters:
      - description: ID of Contact to View / Update
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact-dump'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return details of a specific Contact
      tags:
      - Contact
    put:
      operationId: put_contact_id_resource
      parameters:
      - description: ID of Contact to View / Update
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact-dump'
          description: Contact successfully updated.
        "400":
          content: {}
          description: Unable to update Contact Data.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Edit a Contact
      tags:
      - Contact
      x-codegen-request-body-name: payload
  /contact/{contactId}/password:
    put:
      operationId: put_password_resource
      parameters:
      - description: '"ID of Contact to change password"'
        in: path
        name: contactId
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Password'
        required: true
      responses:
        "400":
          content: {}
          description: Invalid password for authentication.
        "200":
          content: {}
          description: Password was changed.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Change password for a Contact
      tags:
      - Contact
      x-codegen-request-body-name: payload
  /credit/:
    get:
      operationId: get_credit_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Credit'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return a list with all Credits
      tags:
      - Credit
    post:
      operationId: post_credit_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCredit'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credit'
          description: Success
        "503":
          content: {}
          description: Unable to add new credit.
        "201":
          content: {}
          description: Successfully added a new credit.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Receive billing method id and amount and return the created Credit
      tags:
      - Credit
      x-codegen-request-body-name: payload
  /credit/total:
    get:
      operationId: get_total_active_credit_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalActiveCredit'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return the client's total active credit amount
      tags:
      - Credit
  /deploy/:
    get:
      operationId: get_deployment_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Deployment'
                type: array
          description: Deployments found successfully
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return a list with all client deployments
      tags:
      - Deployment
    post:
      operationId: post_deployment_resource
      parameters:
      - in: query
        name: deploymentName
        schema:
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Deployment Created
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Start a new deployment
      tags:
      - Deployment
  /deploy/{deploymentId}:
    delete:
      operationId: delete_deployment_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: path
        name: deploymentId
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Deployment Deleted
        "401":
          content: {}
          description: Access to this Deployment not Allowed
        "404":
          content: {}
          description: Deployment Not Found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Delete the specified deployment
      tags:
      - Deployment
    get:
      operationId: get_deployment_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: path
        name: deploymentId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Deployment Found
        "401":
          content: {}
          description: Access to Deployment not Allowed
        "404":
          content: {}
          description: Deployment Not Found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return a dictionary with deployment information
      tags:
      - Deployment
    post:
      operationId: post_deployment_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: path
        name: deploymentId
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentStart'
        required: true
      responses:
        "201":
          content: {}
          description: Deployment Started
        "401":
          content: {}
          description: Access to Deployment not Allowed
        "404":
          content: {}
          description: Deployment Not Found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Input a billing info id and script to process and finish a deployment
      tags:
      - Deployment
      x-codegen-request-body-name: payload
    put:
      operationId: put_deployment_id_resource
      parameters:
      - description: Id of the deployment to interact with
        in: path
        name: deploymentId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentCustomization'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
          description: Server configuration added to Deployment
        "400":
          content: {}
          description: Your configuration have incompatible or unavailable options
        "401":
          content: {}
          description: Access to this Deployment not Allowed
        "404":
          content: {}
          description: Deployment Not Found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: "Receive product, quantity and options to be added on the deployment"
      tags:
      - Deployment
      x-codegen-request-body-name: payload
  /device/:
    get:
      operationId: get_device_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Device-dump'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all devices
      tags:
      - Device
  /device/devicelist: {}
  /device/ipmi/thresholds:
    put:
      operationId: put_ipmi_devices_thresholds_id_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDevicesIPMIThresholds'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesIPMIThresholds'
          description: Devices IPMI Thresholds updated.
        "400":
          content: {}
          description: Unable to update IPMI Thresholds for this Device list.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Bulk update IPMI thresholds
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/preview-ignition:
    post:
      operationId: post_preview_effective_ignition_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewEffectiveIgnition'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviewEffectiveIgnitionResponse'
          description: Success
        "422":
          content: {}
          description: Error
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Preview Ignition injections
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/tags:
    get:
      operationId: get_client_device_tag_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTag'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all tags
      tags:
      - Device
  /device/tags-order:
    get:
      operationId: get_client_device_tag_order_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTag'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get tag order
      tags:
      - Device
    put:
      operationId: put_client_device_tag_order_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTag'
          description: Device tags order updated.
        "400":
          content: {}
          description: Bad request.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update tag order
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/tags-order/all:
    get:
      operationId: get_all_device_tag_order_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTag'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all tag orders
      tags:
      - Device
  /device/{deviceId}:
    get:
      operationId: get_device_id_resource
      parameters:
      - description: ID of Device to View / Update
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device-dump'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get device
      tags:
      - Device
    put:
      operationId: put_device_id_resource
      parameters:
      - description: ID of Device to View / Update
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device-dump'
          description: Device MetaData was updated.
        "400":
          content: {}
          description: Unable to update Device MetaData.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update device
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/{deviceId}/deploy/script: {}
  /device/{deviceId}/deploy/ssh_key: {}
  /device/{deviceId}/events:
    get:
      operationId: get_device_id_event_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceEvent'
                type: array
          description: Success
        "404":
          content: {}
          description: Device not found
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all events
      tags:
      - Device
  /device/{deviceId}/ignition:
    get:
      operationId: get_effective_ignition_id_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectiveIgnitionResponse'
          description: Success
        "404":
          content: {}
          description: Not Found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get Ignition injections
      tags:
      - Device
  /device/{deviceId}/initial-creds:
    get:
      operationId: get_initial_creds_id_resource
      parameters:
      - description: ID of Device to retrieve initial authentication credentials for
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceInitialCreds'
          description: Device initial credentials.
        "400":
          content: {}
          description: Unable to get initial credentials for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get initial creds
      tags:
      - Device
  /device/{deviceId}/initial-password:
    get:
      operationId: get_initial_password_id_resource
      parameters:
      - description: ID of Device to retrieve initial password
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePassword'
          description: Device initial password.
        "400":
          content: {}
          description: Unable to get initial password this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get initial password
      tags:
      - Device
  /device/{deviceId}/ipmi:
    get:
      operationId: get_ipmi_info_id_resource
      parameters:
      - description: ID of Device to retrieve IPMI info.
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIPMIInfo'
          description: Device IPMI Thresholds retrieved
        "400":
          content: {}
          description: Unable to retrieve IPMI Thresholds for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get IPMI data
      tags:
      - Device
  /device/{deviceId}/ipmi/login-data:
    get:
      operationId: get_ipmi_info_login_data_resource
      parameters:
      - description: ID of Device to retrieve IPMI Login data.
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPMILoginData'
          description: Device IPMI Login data retrieved
        "400":
          content: {}
          description: Unable to retrieve IPMI Login data for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get IPMI creds
      tags:
      - Device
  /device/{deviceId}/ipmi/nat:
    get:
      operationId: get_device_ipminat_rule_resource
      parameters:
      - description: ID of a client Device
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      responses:
        "400":
          content: {}
          description: The request has problems. Revise it and try again.
        "202":
          content: {}
          description: The request was accepted.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Clear IPMI whitelist
      tags:
      - Device
  /device/{deviceId}/ipmi/thresholds:
    get:
      operationId: get_ipmi_thresholds_id_resource
      parameters:
      - description: ID of Device to View
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIPMIThresholds'
          description: Device IPMI Thresholds retrieved.
        "400":
          content: {}
          description: Unable to retrieve IPMI Thresholds for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get IPMI thresholds
      tags:
      - Device
    put:
      operationId: put_ipmi_thresholds_id_resource
      parameters:
      - description: ID of Device to View
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceIPMIThresholds'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIPMIThresholds'
          description: Device IPMI Thresholds retrieved.
        "400":
          content: {}
          description: Unable to update IPMI Thresholds for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update IPMI thresholds
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/{deviceId}/ipmi/valid-login:
    get:
      operationId: get_ipmi_valid_login_id_resource
      parameters:
      - description: ID of Device to check IPMI credentials
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPMIValidLogin'
          description: IPMI credentials validated.
        "400":
          content: {}
          description: Unable to validate IPMI credentials this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get IPMI access status
      tags:
      - Device
  /device/{deviceId}/ipmi/whitelist/:
    post:
      operationId: post_device_ipmi_whitelist_resource
      parameters:
      - description: ID of the Device to put IP in Whitelist
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceIPMIWhitelistIP'
        required: true
      responses:
        "400":
          content: {}
          description: The request has problems. Revise it and try again.
        "202":
          content: {}
          description: The request was accepted.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Whitelist IP for IPMI
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/{deviceId}/ips:
    get:
      operationId: get_device_ip_assignments_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IPAssignment'
                type: array
          description: Device Ip Assignments retrieved
        "400":
          content: {}
          description: Unable to retrieve IP Assignments for this Device.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get IPs
      tags:
      - Device
  /device/{deviceId}/port/{portId}/clear:
    post:
      operationId: post_device_port_id_clear_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - in: path
        name: portId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTask-dump'
          description: Accepted
        "429":
          content: {}
          description: Request was Rate Limited
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Clear all Port configurations
      tags:
      - Device
  /device/{deviceId}/ports:
    get:
      operationId: get_device_port_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DevicePort'
                type: array
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get ports
      tags:
      - Device
    put:
      operationId: put_device_port_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevicePortsUpdate'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NetworkTask-dump'
                type: array
          description: Accepted
        "429":
          content: {}
          description: Request was Rate Limited
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update port network
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/{deviceId}/ports/bond:
    delete:
      operationId: delete_device_bond_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTask-dump'
          description: Accepted
        "429":
          content: {}
          description: Request was Rate Limited
        "404":
          content: {}
          description: Device not found
        "401":
          content: {}
          description: Access to this Device is not allowed
        "400":
          content: {}
          description: Invalid action
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Unbond ports
      tags:
      - Device
    post:
      operationId: post_device_bond_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkTask-dump'
          description: Accepted
        "429":
          content: {}
          description: Request was Rate Limited
        "404":
          content: {}
          description: Device not found
        "401":
          content: {}
          description: Access to this Device is not allowed
        "400":
          content: {}
          description: Invalid action
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Bond ports
      tags:
      - Device
  /device/{deviceId}/power:
    get:
      operationId: get_power_resource
      parameters:
      - description: ID of Device to View / Update
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePower'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get power status
      tags:
      - Device
    post:
      operationId: post_power_resource
      parameters:
      - description: ID of Device to View / Update
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: Must be one of boot|reboot|shutdown
        in: query
        name: action
        required: true
        schema:
          pattern: boot|reboot|shutdown
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePower'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update power status
      tags:
      - Device
  /device/{deviceId}/reload:
    post:
      operationId: post_device_reload_resource
      parameters:
      - in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceReload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOption'
          description: Success
        "400":
          content: {}
          description: Error
        "404":
          content: {}
          description: Device not found
        "202":
          content: {}
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Reload device
      tags:
      - Device
      x-codegen-request-body-name: payload
  /device/{deviceId}/services:
    get:
      operationId: get_device_id_service_resource
      parameters:
      - description: "Get results grouped by service type code 'type_code', or 'flat'"
        in: query
        name: group_by
        schema:
          default: flat
          type: string
      - description: |-
          Return service having the same service type code, the default value is all
           The list of service types can be accessed on https://core.hivelocity.net/api/v2/service/types
        in: query
        name: type_code
        schema:
          default: all
          type: string
      - description: ID of Device to get all services by type
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      responses:
        "404":
          content: {}
          description: Unable to find the device or the device does not have a service
        "400":
          content: {}
          description: Unable to retrieve services for this device
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Services'
          description: Device services retrieved
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get all device services
      tags:
      - Device
  /device/{deviceId}/tags:
    get:
      operationId: get_device_tag_id_resource
      parameters:
      - description: ID of Device to View / Update
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTag'
          description: Success
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Get device tags
      tags:
      - Device
    put:
      operationId: put_device_tag_id_resource
      parameters:
      - description: ID of Device to View / Update
        in: path
        name: deviceId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceTag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTag'
          description: Device tags updated.
        "400":
          content: {}
          description: Bad request.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update device tags
      tags:
      - Device
      x-codegen-request-body-name: payload
  /domains/:
    get:
      operationId: get_domain_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DomainReturn'
                type: array
          description: Success.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return the domains of a client
      tags:
      - Domains
    post:
      operationId: post_domain_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainReturn'
          description: Success
        "400":
          content: {}
          description: Bad request.
        "201":
          content: {}
          description: Created.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create a new domain
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/ptr:
    get:
      operationId: get_ptr_record_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PTRRecordReturn'
                type: array
          description: Success.
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return the PTR records of a client
      tags:
      - Domains
  /domains/ptr/{recordId}:
    get:
      operationId: get_ptr_record_id_resource
      parameters:
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PTRRecordReturn'
          description: Success.
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      tags:
      - Domains
    put:
      operationId: put_ptr_record_id_resource
      parameters:
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PTRRecordUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PTRRecordReturn'
          description: Success
        "400":
          content: {}
          description: Error
        "202":
          content: {}
          description: Success.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/{domainID}/aaaa-record:
    get:
      operationId: get_aaaa_record_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AAAARecordReturn'
                type: array
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return all AAAA Records found for given zone
      tags:
      - Domains
    post:
      operationId: post_aaaa_record_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AAAARecordCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AAAARecordReturn'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "201":
          content: {}
          description: Created
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create a new AAAA Record for given zone
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/{domainID}/aaaa-record/{recordId}:
    delete:
      operationId: delete_aaaa_record_id_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      responses:
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "204":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Delete an AAAA Record for given zone
      tags:
      - Domains
    get:
      operationId: get_aaaa_record_id_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AAAARecordReturn'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return Single AAAA Records found for given id
      tags:
      - Domains
    put:
      operationId: put_aaaa_record_id_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AAAARecordUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AAAARecordReturn'
          description: Success
        "404":
          content: {}
          description: Not Found
        "400":
          content: {}
          description: Error
        "202":
          content: {}
          description: Updated
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update an AAAA Record for given id
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/{domainID}/mx-record:
    get:
      operationId: get_mx_record_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MXRecordReturn'
                type: array
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return all MX Records found for given zone
      tags:
      - Domains
    post:
      operationId: post_mx_record_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MXRecordCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MXRecordReturn'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "201":
          content: {}
          description: Created
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create a new MX Record for given zone
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/{domainID}/mx-record/{recordId}:
    delete:
      operationId: delete_mx_record_id_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      responses:
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "204":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Delete an MX Record for given zone
      tags:
      - Domains
    get:
      operationId: get_mx_record_id_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MXRecordReturn'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return Single MX Records found for given id
      tags:
      - Domains
    put:
      operationId: put_mx_record_id_resource
      parameters:
      - in: path
        name: domainID
        required: true
        schema:
          type: integer
      - in: path
        name: recordId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MXRecordUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MXRecordReturn'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "202":
          content: {}
          description: Updated
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update an MX Record for given zone
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/{domainId}:
    delete:
      operationId: delete_domain_id_resource
      parameters:
      - in: path
        name: domainId
        required: true
        schema:
          type: integer
      responses:
        "500":
          content: {}
          description: Error.
        "404":
          content: {}
          description: Domain not found.
        "204":
          content: {}
          description: Deleted.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Delete domain for given id
      tags:
      - Domains
    get:
      operationId: get_domain_id_resource
      parameters:
      - in: path
        name: domainId
        required: true
        schema:
          type: integer
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainReturn'
          description: Success.
        "404":
          content: {}
          description: Domain not found.
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return a domain for given id
      tags:
      - Domains
  /domains/{domain}/a-record:
    get:
      operationId: get_a_record_resource
      parameters:
      - in: path
        name: domain
        required: true
        schema:
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ARecord'
                type: array
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return all A Records found for given zone name
      tags:
      - Domains
    post:
      operationId: post_a_record_resource
      parameters:
      - in: path
        name: domain
        required: true
        schema:
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ARecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ARecord'
          description: Success
        "409":
          content: {}
          description: Record Already Exists
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "201":
          content: {}
          description: Created
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Create a new A Record for given zone
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /domains/{domain}/a-record/{record}:
    delete:
      operationId: delete_a_record_id_resource
      parameters:
      - in: path
        name: domain
        required: true
        schema:
          type: string
      - in: path
        name: record
        required: true
        schema:
          type: string
      responses:
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "204":
          content: {}
          description: Deleted
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Delete a single A Record value for given zone
      tags:
      - Domains
    get:
      operationId: get_a_record_id_resource
      parameters:
      - in: path
        name: domain
        required: true
        schema:
          type: string
      - in: path
        name: record
        required: true
        schema:
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ARecord'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Return Single A Records found for given domain name
      tags:
      - Domains
    put:
      operationId: put_a_record_id_resource
      parameters:
      - in: path
        name: domain
        required: true
        schema:
          type: string
      - in: path
        name: record
        required: true
        schema:
          type: string
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ARecord'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ARecord'
          description: Success
        "404":
          content: {}
          description: Not found
        "400":
          content: {}
          description: Error
        "202":
          content: {}
          description: Updated
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Update an A Record for given zone
      tags:
      - Domains
      x-codegen-request-body-name: payload
  /ignition/:
    get:
      operationId: get_ignition_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IgnitionResponse'
                type: array
          description: Successfully returned ignition configs
        "400":
          content: {}
          description: Unable to get ignition configs
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Gets an Ignition configuration
      tags:
      - Ignition
    post:
      operationId: post_ignition_resource
      parameters:
      - description: An optional fields mask
        in: header
        name: X-Fields
        schema:
          format: mask
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIgnition'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IgnitionResponse'
          description: Successfully created ignition configs
        "400":
          content: {}
          description: Unable to create ignition config
        "403":
          content: {}
          description: You have not been granted permission to complete this action.
            Please contact your account manager to grant the proper permission.
      summary: Creates a new Ignition configuration
      tags:
      - Ignition
      x-codegen-request-body-name: payload
  /ignition/{ignitionId}:
    delete:
[...]
